<!DOCTYPE html>
<html lang="en">
<body>

<div class="sidebar" id="sidebar">
    <button class="control-panel-button" onclick="showForm('mainservice-form')">
        <i class="fas fa-tools"></i> <span>Register MainService</span>
    </button>
    <button class="control-panel-button" onclick="showForm('subservice-form')">
        <i class="fas fa-cogs"></i> <span>Register SubService</span>
    </button>
    <button class="control-panel-button" onclick="showForm('verify-user-form')">
        <i class="fas fa-user-check"></i> <span>Approve Experts</span>
    </button>
    <button class="control-panel-button" onclick="showForm('assign-expert-form')">
        <i class="fas fa-user-tie"></i> <span>Assign Expert</span>
    </button>
    <button class="control-panel-button" onclick="showForm('edit-mainservice-form')">
        <i class="fas fa-wrench"></i> <span>Edit MainService</span>
    </button>
    <button class="control-panel-button" onclick="showForm('edit-subservice-form')">
        <i class="fas fa-sliders-h"></i> <span>Edit SubService</span>
    </button>
    <button class="control-panel-button" onclick="showForm('user-search-form')">
        <i class="fas fa-search"></i> <span>Search Users</span>
    </button>
    <button class="control-panel-button" onclick="showForm('search-orders-form')">
        <i class="fas fa-receipt"></i> <span>Search Orders</span>
    </button>
    <button class="control-panel-button toggle-text-button" onclick="toggleText()">
        <i class="fas fa-arrows-alt-h"></i> <span>Toggle Text</span>
    </button>
</div>

<button class="logout-button" onclick="logout()">
    <i class="fas fa-sign-out-alt"></i> Log Out
</button>

<div class="content-container" id="mainservice-form">
    <div class="container">
        <h2>Register MainService</h2>
        <div>
            <label for="mainservice-name">MainService Name</label>
            <input type="text" id="mainservice-name" name="name" required>
            <button onclick="registerMainService()">Register MainService</button>
        </div>
    </div>
    <div class="table-container">
        <table class="mainservice-table">
            <thead>
            <tr>
                <th>MainService Name</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody id="mainservice-table-body">
            </tbody>
        </table>
    </div>
</div>

<div class="content-container" id="subservice-form">
    <div class="container">
        <h2>Register SubService</h2>
        <div>
            <label for="mainservice-select">Select MainService</label>
            <select id="mainservice-select" name="mainserviceId" required>
            </select>

            <label for="subservice-name">SubService Name</label>
            <input type="text" id="subservice-name" name="name" required>

            <label for="subservice-price">Base Price</label>
            <input type="number" id="subservice-price" name="basePrice" required>

            <label for="subservice-comment">Comment</label>
            <input type="text" id="subservice-comment" name="comment" required>

            <button onclick="registerSubService()">Register SubService</button>
        </div>
    </div>
    <div class="table-container">
        <table class="subService-table">
            <thead>
            <tr>
                <th>SubService Name</th>
                <th>SubService BasePrice</th>
                <th>MainService Name</th>
                <th>SubService Comment</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody id="subService-table-body">
            </tbody>
        </table>
    </div>
</div>

<div class="content-container" id="verify-user-form">
    <div class="container">
        <h2>Approve Experts</h2>
    </div>
    <div class="table-container">
        <table class="expert-table">
            <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Username</th>
                <th>Email</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody id="expert-table-body">
            </tbody>
        </table>
    </div>
</div>

<div class="content-container" id="assign-expert-form">
    <div class="container">
        <h2>Assign Expert</h2>
    </div>
    <div class="table-container">
        <div class="container">
            <label for="assign-expert-expert-select">Expert</label>
            <select id="assign-expert-expert-select" name="expertId">
            </select>

            <label for="assign-expert-subservice-select">SubService</label>
            <select id="assign-expert-subservice-select" name="subServiceId">
            </select>

            <button onclick="assignExpert()">Assign Expert</button>
        </div>

        <div class="table-container">
            <table class="search-order-table">
                <thead>
                <tr>
                    <th>Expert Firstname</th>
                    <th>Expert Lastname</th>
                    <th>Expert Email</th>
                    <th>Sub Service Name</th>
                    <th>Sub Service Base Price</th>
                    <th>Remove</th>
                </tr>
                </thead>
                <tbody id="assign-expert-table">
                </tbody>
            </table>
        </div>

    </div>
</div>

<div class="content-container" id="edit-subservice-form">
    <div class="container">
        <h2>Edit SubService</h2>
        <div>
            <label for="edit-subservice-select">SubService</label>
            <select id="edit-subservice-select" name="id">
            </select>

            <label for="edit-subservice-mainservice-select">Select MainService</label>
            <select id="edit-subservice-mainservice-select" name="mainserviceId">
            </select>

            <label for="edit-subservice-name">SubService Name</label>
            <input type="text" id="edit-subservice-name" name="name">

            <label for="edit-subservice-price">Base Price</label>
            <input type="number" id="edit-subservice-price" name="basePrice">

            <button onclick="updateSubService()">Update SubService</button>
        </div>
    </div>
</div>

<div class="content-container" id="edit-mainservice-form">
    <div class="container">
        <h2>Edit MainService</h2>
        <div>
            <label for="edit-mainservice-select">Select MainService</label>
            <select id="edit-mainservice-select" name="id">
            </select>

            <label for="edit-mainservice-name">New MainService Name</label>
            <input type="text" id="edit-mainservice-name" name="name">

            <button onclick="updateMainService()">Update MainService</button>
        </div>
    </div>
</div>

<div class="content-container" id="user-search-form">
    <div class="container">
        <h2>Search Users</h2>
        <div>
            <label for="role">Role</label>
            <select id="role" name="role">
                <option value="">Select Role</option>
                <option value="ROLE_CUSTOMER">User</option>
                <option value="ROLE_EXPERT">Expert</option>
            </select>

            <label for="firstname">First Name</label>
            <input type="text" id="firstname" name="firstname">

            <label for="lastname">Last Name</label>
            <input type="text" id="lastname" name="lastname">

            <label for="email">Email</label>
            <input type="email" id="email" name="email">

            <label for="beforeCreationDate">Before Creation Date</label>
            <input type="datetime-local" id="beforeCreationDate" name="beforeCreationDate">

            <label for="afterCreationDate">After Creation Date</label>
            <input type="datetime-local" id="afterCreationDate" name="afterCreationDate">

            <label for="search-users-subServiceId">SubService</label>
            <select id="search-users-subServiceId" name="subservice">
            </select>

            <label for="scoreHigher">Score Higher Than</label>
            <input type="number" id="scoreHigher" name="scoreHigher" step="0.1">

            <label for="scoreLower">Score Lower Than</label>
            <input type="number" id="scoreLower" name="scoreLower" step="0.1">

            <button type="button" onclick="searchUsers()">Search</button>
        </div>
    </div>
    <div class="table-container">
        <table class="user-table">
            <thead>
            <tr>
                <th>Role</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Creation Date</th>
                <th>SubService</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody id="user-table-body">

            </tbody>
        </table>
    </div>
</div>

<div class="content-container" id="search-orders-form">
    <div class="container">
        <h2>Search Orders</h2>
        <div>
            <label for="search-orders-customerId">Customer:</label>
            <select id="search-orders-customerId" name="customerId">
            </select>
            <br><br>

            <label for="search-orders-expertId">Expert:</label>
            <select id="search-orders-expertId" name="expertId">
            </select>
            <br><br>

            <label for="search-orders-startAfter">Start After:</label>
            <input type="datetime-local" id="search-orders-startAfter" name="startAfter">
            <br><br>

            <label for="search-orders-startBefore">Start Before:</label>
            <input type="datetime-local" id="search-orders-startBefore" name="startBefore">
            <br><br>

            <label for="search-orders-orderState">Order State:</label>
            <select id="search-orders-orderState" name="orderState">
                <option value="">Select order state</option>
                <option value="WAITING_FOR_SUGGESTIONS">Waiting for Suggestions</option>
                <option value="WAITING_TO_SELECT_SUGGESTION">Waiting to Select Suggestion</option>
                <option value="WAITING_FOR_EXPERT">Waiting for Expert</option>
                <option value="STARTED">Started</option>
                <option value="FINISHED">Finished</option>
                <option value="PAID">Paid</option>
            </select>
            <br><br>

            <label for="search-orders-mainServiceId">MainService:</label>
            <select id="search-orders-mainServiceId" name="mainServiceId">
            </select>
            <br><br>

            <label for="search-orders-subServiceId">SubService:</label>
            <select id="search-orders-subServiceId" name="subServiceId">
            </select>
            <br><br>

            <button onclick="searchOrders()">Search Orders</button>
        </div>
    </div>
    <div class="table-container">
        <table class="search-order-table">
            <thead>
            <tr>
                <th>Order Details</th>
                <th>Order Address</th>
                <th>Order State</th>
                <th>Sub Service Name</th>
                <th>Main Service Name</th>
                <th>Sub Service Base Price</th>
                <th>Order Starting Date</th>
                <th>Offer Completion Date</th>
                <th>Offer Suggested Price</th>
                <th>Customer Username</th>
                <th>Expert Username</th>
            </tr>
            </thead>
            <tbody id="search-order-table">
            <!-- Search results will be populated here -->
            </tbody>
        </table>
    </div>
</div>
</div>

</body>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Control Panel</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
            margin: 0;
            padding: 0;
            display: flex;
            height: 100vh;
        }

        .sidebar {
            width: 200px;
            background-color: #34495e;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
            transition: width 0.3s ease;
            position: relative;
            box-sizing: border-box;
        }

        .sidebar.collapsed {
            width: 70px;
        }

        .control-panel-button {
            width: 100%;
            margin: 10px 0;
            padding: 10px;
            background-color: #2c3e50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-align: left;
            display: flex;
            align-items: center;
            transition: background-color 0.3s ease, padding 0.3s ease;
            box-sizing: border-box;
        }

        .control-panel-button i {
            margin-right: 10px;
            transition: margin-right 0.3s ease, font-size 0.3s ease;
        }

        .control-panel-button.hide-text i {
            margin-right: 0;
            font-size: 1.5em;
        }

        .control-panel-button.hide-text span {
            display: none;
        }

        .control-panel-button:hover {
            background-color: #1a252f;
        }

        .control-panel-button.toggle-text-button:hover {
            background-color: #2c3e50;
        }

        .control-panel-button.hide-text {
            justify-content: center;
            padding: 10px 0;
        }

        .toggle-text-button {
            background-color: #2c3e50;
            margin-top: auto;
        }

        .logout-button {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: #c0392b;
            color: white;
            border: none;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .logout-button:hover {
            background-color: #e74c3c;
        }

        .content-container {
            display: none;
            margin: auto;
            padding: 20px;
            width: 80%;
            max-width: 800px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .container {
            width: 100%;
        }

        .container h2 {
            margin-top: 0;
            color: #333;
            text-align: center;
        }

        .container label {
            font-weight: bold;
            display: block;
            margin-bottom: 5px;
        }

        .container input, .container select, .container button {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        .container button {
            background-color: #28a745;
            color: white;
            cursor: pointer;
            border: none;
        }

        .container button:hover {
            background-color: #218838;
        }

        .table-container {
            width: 100%;
            margin-top: 20px;
            overflow-x: auto;
            box-sizing: border-box;
        }

        table {
            width: 100%;
            min-width: 600px;
            border-collapse: collapse;
        }

        th, td {
            padding: 12px 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #34495e;
            color: white;
        }

        tr:hover {
            background-color: #f1f1f1;
        }
    </style>

    <script>

        let mainServices = [];
        let subServices = [];
        let experts = [];
        let allExperts = [];
        let allExpertSubServices = [];
        fetchMainServices();
        fetchSubServices();
        fetchExperts();
        fetchCustomers();
        fetchExpertSubServices();

        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll('.content-container').forEach(function (container) {
                container.style.display = 'none';
            });
        });

        function showForm(formId) {
            document.querySelectorAll('.content-container').forEach(function (container) {
                container.style.display = 'none';
            });
            document.getElementById(formId).style.display = 'block';
        }

        function logout() {

            fetch('/perform_logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            })
            window.location.href = '/static/login';
        }

        function toggleText() {
            document.querySelectorAll('.control-panel-button').forEach(function (button) {
                button.classList.toggle('hide-text');
            });
            document.getElementById('sidebar').classList.toggle('collapsed');
        }

        async function fetchMainServices() {
            try {
                const response = await fetch("/admin/allMainService");
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                let data = await response.json();
                mainServices = data.map(service => ({
                    id: service.id,
                    name: service.name
                }));
                const mainserviceSelect = document.getElementById('mainservice-select');
                mainserviceSelect.innerHTML = '';

                data.forEach(service => {
                    const option = document.createElement('option');
                    option.value = service.id;
                    option.textContent = service.name;
                    mainserviceSelect.appendChild(option);
                });
                const editMainService = document.getElementById('edit-mainservice-select');
                editMainService.innerHTML = '';
                data.forEach(service => {
                    const option = document.createElement('option');
                    option.value = service.id;
                    option.textContent = service.name;
                    editMainService.appendChild(option);
                });

                const emptyOption2 = document.createElement('option');
                emptyOption2.value = null;
                emptyOption2.textContent = "Select one";
                emptyOption2.selected = true;
                const emptyOption3 = document.createElement('option');
                emptyOption3.value = null;
                emptyOption3.textContent = "Select one";
                emptyOption3.selected = true;
                const subServiceEditMainService = document.getElementById('edit-subservice-mainservice-select');
                const searchOrdersMainService =  document.getElementById('search-orders-mainServiceId');
                subServiceEditMainService.innerHTML = '';
                subServiceEditMainService.appendChild(emptyOption2);
                searchOrdersMainService.appendChild(emptyOption3);
                data.forEach(service => {
                    const option1 = document.createElement('option');
                    option1.value = service.id;
                    option1.textContent = service.name;
                    const option2 = document.createElement('option');
                    option2.value = service.id;
                    option2.textContent = service.name;
                    subServiceEditMainService.appendChild(option1);
                    searchOrdersMainService.appendChild(option2);
                });

                const mainServiceTableBody = document.getElementById('mainservice-table-body');
                mainServiceTableBody.innerHTML = '';
                mainServices.forEach(service => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
            <td>${service.name}</td>
            <td><button class="remove-button" onclick="removeMainService(${service.id})">Remove</button></td>
        `;
                    mainServiceTableBody.appendChild(row);
                });

            } catch (error) {
                console.error('There has been a problem with your fetch operation:', error);
            }
        }

        function removeMainService(serviceId) {
            fetch("/admin/remove/mainService/".concat(serviceId), {method: "POST"})
                .then(response => {
                    if (!response.ok) {
                        alert("Can't remove a main service with sub services attached!")
                        throw new Error('Network response was not ok');
                    }
                }).then(_ => {
                mainServices = [];
                fetchMainServices()
            })
        }

        function registerMainService() {
            const name = document.getElementById('mainservice-name').value;
            fetch('../admin/register/mainService', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({name: name}),
            }).then(response => {
                if (!response.ok) {
                    alert("This mainService has already been registered!")
                    throw new Error('Network response was not ok');
                }
                mainServices = [];
                fetchMainServices()
                document.getElementById("mainservice-name").innerHTML = "";
            })
        }

        function registerSubService() {
            const name = document.getElementById('subservice-name').value;
            const mainServiceId = document.getElementById('mainservice-select').value;
            const basePrice = document.getElementById('subservice-price').value;
            const comment = document.getElementById('subservice-comment').value;
            fetch('../admin/register/subService', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    name: name,
                    mainServiceId: mainServiceId,
                    basePrice: basePrice,
                    comment: comment
                }),
            }).then(response => {
                document.getElementById("mainservice-select").selectedIndex = 0;
                document.getElementById("subservice-name").value = "";
                document.getElementById("subservice-price").value = "";
                document.getElementById("subservice-comment").value = "";
                subServices = [];
                fetchSubServices();
                if (!response.ok) {
                    alert("This subService has already been registered!")
                    throw new Error('Network response was not ok');
                }
            })

        }

        async function fetchSubServices() {
            const response = await fetch("/services/subService/loadALl");
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            let data = await response.json();
            subServices = data.map(service => ({
                id: service.id,
                name: service.name,
                basePrice: service.basePrice,
                comment: service.comment,
                mainServiceName: service.mainServiceName
            }))
            const subServiceTableBody = document.getElementById('subService-table-body');
            subServiceTableBody.innerHTML = '';
            subServices.forEach(service => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${service.name}</td>
                    <td>${service.basePrice}</td>
                    <td>${service.mainServiceName}</td>
                    <td>${service.comment}</td>
                    <td><button class="remove-button" onclick="removeSubService(${service.id})">Remove</button></td>
                    `;
                subServiceTableBody.appendChild(row);
            });
            const emptyOption2 = document.createElement('option');
            emptyOption2.value = null;
            emptyOption2.textContent = "Select one";
            emptyOption2.selected = true;
            const emptyOption3 = document.createElement('option');
            emptyOption3.value = null;
            emptyOption3.textContent = "Select one";
            emptyOption3.selected = true;

            const subServiceEdit = document.getElementById('edit-subservice-select');
            const searchOrderSubServiceSelect = document.getElementById('search-orders-subServiceId');
            const searchUserSubServiceSelect = document.getElementById('search-users-subServiceId');
            const assignExpertSubServiceSelect = document.getElementById('assign-expert-subservice-select');
            subServiceEdit.innerHTML = '';
            searchOrderSubServiceSelect.innerHTML = '';
            searchUserSubServiceSelect.innerHTML = '';
            assignExpertSubServiceSelect.innerHTML = '';
            searchOrderSubServiceSelect.appendChild(emptyOption2);
            searchUserSubServiceSelect.appendChild(emptyOption3);
            data.forEach(service => {
                const option1 = document.createElement('option');
                option1.value = service.id;
                option1.textContent = service.name;
                const option2 = document.createElement('option');
                option2.value = service.id;
                option2.textContent = service.name;
                const option3 = document.createElement('option');
                option3.value = service.id;
                option3.textContent = service.name;
                const option4 = document.createElement('option');
                option4.value = service.id;
                option4.textContent = service.name;
                subServiceEdit.appendChild(option1);
                searchUserSubServiceSelect.appendChild(option2);
                searchOrderSubServiceSelect.appendChild(option3);
                assignExpertSubServiceSelect.appendChild(option4);
            });

        }

        function removeSubService(serviceId) {
            fetch("/admin/remove/subService/".concat(serviceId), {method: "POST"})
                .then(response => {
                    if (!response.ok) {
                        alert("This Sub Service Has Orders Attached!")
                        throw new Error('Network response was not ok');
                    }
                }).then(_ => {
                subServices = [];
                fetchSubServices()
            })
        }

        async function fetchExperts() {
            const response = await fetch("/admin/expert/loadNotConfirm");
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            let data = await response.json();
            experts = data.map(service => ({
                id: service.id,
                firstname: service.firstname,
                lastname: service.lastname,
                username: service.username,
                email: service.email,
                imageBase64: service.imageBase64
            }))
            const expertTableBody = document.getElementById('expert-table-body');
            expertTableBody.innerHTML = '';
            experts.forEach(service => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${service.firstname}</td>
                    <td>${service.lastname}</td>
                    <td>${service.username}</td>
                    <td>${service.email}</td>
                    <td><img id="ItemPreview" src="data:image/png;base64,${service.imageBase64}"  alt="profile pic" width="200"></td>
                    <td><button class="remove-button" onclick="confirmExpert(${service.id})">Confirm</button></td>
                    `;
                expertTableBody.appendChild(row);
            });
            const responseAll = await fetch("/admin/allExperts");
            if (!responseAll.ok) {
                throw new Error('Network response was not ok');
            }
            let dataAll = await responseAll.json();
            allExperts = dataAll.map(service => ({
                id: service.id,
                firstname: service.firstname,
                lastname: service.lastname,
                username: service.username,
                email: service.email,
                imageBase64: service.imageBase64
            }))
            const emptyOption = document.createElement('option');
            emptyOption.value = null;
            emptyOption.textContent = "Select one";
            const expertSelect = document.getElementById('search-orders-expertId');
            const assignExpertSelect = document.getElementById('assign-expert-expert-select');
            expertSelect.innerHTML = '';
            assignExpertSelect.innerHTML = '';
            expertSelect.appendChild(emptyOption)
            allExperts.forEach(service => {
                const option1 = document.createElement('option');
                option1.value = service.id;
                option1.textContent = service.username;
                const option2 = document.createElement('option');
                option2.value = service.id;
                option2.textContent = service.username;
                expertSelect.appendChild(option1);
                assignExpertSelect.appendChild(option2);
            });
        }

        function searchUsers() {
            const role = document.getElementById('role').value;
            const firstname = document.getElementById('firstname').value;
            const lastname = document.getElementById('lastname').value;
            const email = document.getElementById('email').value;
            const beforeCreationDate = document.getElementById('beforeCreationDate').value;
            const afterCreationDate = document.getElementById('afterCreationDate').value;
            const subservice = document.getElementById('subservice').value;
            const scoreHigher = document.getElementById('scoreHigher').value;
            const scoreLower = document.getElementById('scoreLower').value;

            fetch('/admin/users/filter', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    role: role,
                    firstname: firstname,
                    lastname: lastname,
                    email: email,
                    beforeCreationDate: beforeCreationDate,
                    afterCreationDate: afterCreationDate,
                    subservice: subservice,
                    scoreHigher: scoreHigher,
                    scoreLower: scoreLower
                })
            })
                .then(response => response.json())
                .then(data => {
                    const userTableBody = document.getElementById('user-table-body');
                    userTableBody.innerHTML = ''; // Clear existing results

                    data.forEach(user => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                        <td>${user.role}</td>
                        <td>${user.firstname}</td>
                        <td>${user.lastname}</td>
                        <td>${user.email}</td>
                        <td>${user.registerDate}</td>
                        <td>${user.subService}</td>
                        <td>${user.score}</td>
                    `;
                        userTableBody.appendChild(row);
                    });
                })
                .catch(error => {
                    console.error('Error searching users:', error);
                });
        }

        function confirmExpert(serviceId) {
            fetch("/admin/expert/approveExpert?expertId=".concat(serviceId), {method: "POST"})
                .then(response => {
                    if (!response.ok) {
                        alert("Couldn't confirm expert!")
                        throw new Error('Network response was not ok');
                    }
                }).then(_ => {
                fetchExperts()
            })
        }

        function updateSubService() {
            const id = document.getElementById('edit-subservice-select').value;
            const mainServiceId = document.getElementById('edit-subservice-mainservice-select').value;
            const name = document.getElementById('edit-subservice-name').value;
            const basePrice = document.getElementById('edit-subservice-price').value;

            fetch('/admin/subService/edit', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    id: id,
                    name: name,
                    basePrice: basePrice,
                    mainServiceId: mainServiceId
                }),
            }).then(response => {
                if (!response.ok) {
                    alert("Failed to update SubService");
                    throw new Error('Network response was not ok');
                } else {
                    alert("SubService Updated!");
                }
                fetchSubServices();
            });

            document.getElementById('edit-subservice-select').selectedIndex = 0;
            document.getElementById('edit-subservice-mainservice-select').selectedIndex = 0;
            document.getElementById('edit-subservice-name').value = '';
            document.getElementById('edit-subservice-price').value = '';
        }

        function updateMainService() {
            const id = document.getElementById('edit-mainservice-select').value;
            const name = document.getElementById('edit-mainservice-name').value;

            fetch('/admin/mainService/edit', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    id: id,
                    name: name,
                }),
            }).then(response => {
                if (!response.ok) {
                    alert("Failed to update MainService");
                    throw new Error('Network response was not ok');
                } else {
                    alert("MainService Updated!");
                }
                fetchMainServices();
            });

            document.getElementById('edit-mainservice-select').selectedIndex = 0;
            document.getElementById('edit-mainservice-name').value = '';
        }

        function searchOrders(){
            const customerId = document.getElementById('search-orders-customerId').value;
            const expertId = document.getElementById('search-orders-expertId').value;
            let startAfter = document.getElementById('search-orders-startAfter').value;
            let startBefore = document.getElementById('search-orders-startBefore').value;
            let orderState = document.getElementById('search-orders-orderState').value;
            const mainServiceId = document.getElementById('search-orders-mainServiceId').value;
            const subServiceId = document.getElementById('search-orders-subServiceId').value;

            if(orderState === ""){
                orderState = null;
            }
            if (startAfter) {
                startAfter = startAfter + ":00";
            }
            if (startBefore) {
                startBefore = startBefore + ":00";
            }

            fetch('/admin/orderView/filter', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    customerId: customerId,
                    expertId: expertId,
                    startAfter: startAfter,
                    startBefore: startBefore,
                    orderState: orderState,
                    mainServiceId: mainServiceId,
                    subServiceId: subServiceId
                })
            })
                .then(response => response.json())
                .then(data => {
                    const userTableBody = document.getElementById('search-order-table');
                    userTableBody.innerHTML = '';

                    data.forEach(order => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                        <td>${order.orderDetails}</td>
                        <td>${order.orderAddress}</td>
                        <td>${order.orderState}</td>
                        <td>${order.subServiceName}</td>
                        <td>${order.mainServiceName}</td>
                        <td>${order.subServiceBasePrice}</td>
                        <td>${order.orderStartingDate}</td>
                        <td>${order.offerCompletionDate}</td>
                        <td>${order.offerSuggestedPrice}</td>
                        <td>${order.customerUsername}</td>
                        <td>${order.expertUsernames}</td>
                    `;
                        userTableBody.appendChild(row);
                    });
                })
                .catch(error => {
                    console.error('Error searching users:', error);
                });
        }

        async function fetchCustomers() {
            const emptyOption = document.createElement('option');
            emptyOption.value = null;
            emptyOption.textContent = "Select one";
            const responseAll = await fetch("/admin/allCustomer");
            if (!responseAll.ok) {
                throw new Error('Network response was not ok');
            }
            let dataAll = await responseAll.json();
            allExperts = dataAll.map(service => ({
                id: service.id,
                firstname: service.firstname,
                lastname: service.lastname,
                username: service.username,
                email: service.email
            }))
            const customerSelect = document.getElementById('search-orders-customerId');
            customerSelect.innerHTML = '';
            customerSelect.appendChild(emptyOption)
            allExperts.forEach(service => {
                const option = document.createElement('option');
                option.value = service.id;
                option.textContent = service.username;
                customerSelect.appendChild(option);
            });
        }

        function assignExpert(){
            const subServiceId = document.getElementById('assign-expert-subservice-select').value;
            const expertId = document.getElementById('assign-expert-expert-select').value;

            const params = new URLSearchParams();
            params.append('expertId', expertId);
            params.append('subServiceId', subServiceId);

            fetch('/admin/expert/addToSubService', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: params
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    // Handle the response
                    console.log('Success:', data);
                    fetchExpertSubServices();
                    alert('Expert successfully added to SubService!');
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Failed to add expert to SubService');
                });
        }

        async function fetchExpertSubServices(){
            const response = await fetch("/admin/expertSubServiceView/findAll");
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            let data = await response.json();
            allExpertSubServices = data.map(json => ({
                id: json.id,
                expertId: json.expertId,
                expertFirstname: json.expertFirstname,
                expertLastname: json.expertLastname,
                expertEmail: json.expertEmail,
                subServiceId: json.subServiceId,
                subServiceName: json.subServiceName,
                subServiceBasePrice: json.subServiceBasePrice
            }))
            const assignExpertTable = document.getElementById('assign-expert-table');
            assignExpertTable.innerHTML = '';
            allExpertSubServices.forEach(service => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${service.expertFirstname}</td>
                    <td>${service.expertLastname}</td>
                    <td>${service.expertEmail}</td>
                    <td>${service.subServiceName}</td>
                    <td>${service.subServiceBasePrice}</td>
                    <td><button class="remove-button" onclick="removeExpertSubService(${service.subServiceId},${service.expertId})">Remove</button></td>
                    `;
                assignExpertTable.appendChild(row);
            });

        }

        function removeExpertSubService(subServiceId, expertId) {
            const params = new URLSearchParams();
            params.append('expertId', expertId);
            params.append('subServiceId', subServiceId);

            fetch('/admin/expert/removeToSubService', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: params
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Success:', data);
                    fetchExpertSubServices();
                    alert('Expert successfully removed from SubService!');
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Failed to remove expert from SubService');
                });
        }
    </script>


</head>
</html>
